# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [42]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [43]:
vacation_df = pd.read_csv("cities.csv")
del vacation_df["Unnamed: 0"]
vacation_df

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country
0,matagami,49.75,-77.63,-6.00,37,40,5.10,CA
1,kalmunai,7.42,81.82,28.03,75,66,2.32,LK
2,albany,42.60,-73.97,5.49,33,75,5.10,US
3,puerto ayora,-0.74,-90.35,27.90,66,40,8.20,EC
4,dikson,73.51,80.55,-14.74,81,26,2.80,RU
...,...,...,...,...,...,...,...,...
503,ust-shonosha,61.15,41.34,0.57,92,100,4.48,RU
504,nanning,22.82,108.32,19.00,88,98,1.00,CN
505,adeje,28.12,-16.73,18.72,56,20,9.30,ES
506,boa vista,2.82,-60.67,34.00,38,75,5.70,BR
507,ust-maya,60.42,134.53,-5.18,91,94,3.19,RU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [44]:
cities_df = vacation_df[["Latitude", "Longitude"]]
humidity_df = vacation_df["Humidity"]
fig = gmaps.figure()

In [52]:
heat_layer = gmaps.heatmap_layer(cities_df, weights=humidity_df, 
                                 dissipating=True, max_intensity=100,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [53]:
# I am looking for a vacation to a place that is clear and cool for hiking
# Cloudiness < 10%
# Temperature about 10C 
# Wind is good but not too strong. 5-20 MPH seems about right
# Humidity in a cold place isn't that big of a deal so < 90

# trim for clouds
trimClouds_df = vacation_df[vacation_df.Cloudiness< 10]

# trim for temps
trimTemps_df = trimClouds_df[trimClouds_df.Temperature< 10]

# trim for wind
trimWindLow_df = trimTemps_df[trimTemps_df['Wind Speed']> 5]
trimWindHigh_df = trimWindLow_df[trimWindLow_df['Wind Speed']< 20]

# trim for humidity
trimTemps_df = trimWindHigh_df[trimWindHigh_df.Humidity< 90]

trimTemps_df.dropna()
trimTemps_df.head(20)

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country
121,moose factory,51.26,-80.61,-4.00,38,1,6.7,CA
306,havre-saint-pierre,50.23,-63.60,4.00,41,1,7.7,CA
315,clifton,40.86,-74.16,9.89,34,1,5.1,US

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [54]:
hotel_df = trimTemps_df
hotel_df["Hotel Name"] = ""
# hotel_df = "United States"
hotel_df.head()

C:\Users\joshc\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
121,moose factory,51.26,-80.61,-4.00,38,1,6.7,CA,
306,havre-saint-pierre,50.23,-63.60,4.00,41,1,7.7,CA,
315,clifton,40.86,-74.16,9.89,34,1,5.1,US,

In [55]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure